
<h1>Table using JSON Server API</h1>
<form>
  <input type="search" >
  <label for="html">Search here</label><br>

</form>
<hr>


<table id="users">
  <label type="search" ></label>

  <thead>
    <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th></tr>

    </thead>

  <tbody>  <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
            <td> {{user.email}}</td>
              <td>{{user.mobile}}</td>
                <td>{{user.salary}}</td>
      
  </tr></tbody>

</table>


